.balance-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.balance {
  font-weight: bold;
  font-size: 25px;
  color: black;
}

.money {
  font-size: 20px;
  color: #2c2e2f;
}

.available {
  color: #687173;
}

@media (max-width: 400px) {
  .balance-container {
    width: 100%;
  }
}
